# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=jforcetask
DB_PORT=3306

# JWT Configuration
JWT_SECRET=asadsecreatkeytoken1234567890

# Server
PORT=3001
NODE_ENV=development
